[submodule "src/logging_app"]
	path = src/logging_app
	url = https://github.com/leoBitto/Django-logging.git
[submodule "src/transactions"]
	path = src/transactions
	url = https://github.com/leoBitto/Django-transactions.git
[submodule "src/habits"]
	path = src/habits
	url = https://github.com/leoBitto/Django-habits.git
[submodule "src/journal"]
	path = src/journal
	url = https://github.com/leoBitto/Django-journal.git
